<div class="main">
    <div class="card card-relative">
  <h2>Total Profesionales: {{total}}</h2>
  <button class="btn-refresh" (click)="obtenerProfesionales(true)">Refrescar</button>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cedula</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let profesional of profesionales">
        <tr *ngIf="profesional.username !== 'lunalimpia'">
          <td>{{ profesional.username }}</td>
          <td>{{ profesional.cedula }}</td>
          <td class="actions">
            <button class="btn btn-delete" (click)="eliminarProfesional(profesional.id)">Eliminar</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <form class="form" (ngSubmit)="guardarProfesional()">
      <input type="text" [(ngModel)]="nuevoProfesional.username" name="username" placeholder="Nombre" required />
      <input type="text" [(ngModel)]="nuevoProfesional.cedula" name="cedula" placeholder="Cedula" required />

      <button class="btn btn-edit" type="submit">Guardar</button>
    </form>
  </div>
</div>
