/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(180deg, #ffffff 60%, #eaf6ff 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
